.page.theme_dark {
  --accent-color: #FF0070;
  --main-bg-color: #00183F;
  --main-text-color: #F1b2ce;
  --nav-color: #FF0070;
  --hover-button-color: #FF007066;
  --main-heading-color: #00183F;
  --section-heading-color: #FF0070;
  --header-logo-color: #DB00FF;
  --footer-logo-color: #DB00FF;
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .header__rec {
  display: block;
}