.page.theme_light {
  --accent-color: #FF8DCB;
  --main-bg-color: #FFF1F7;
  --main-text-color: #353430;
  --nav-color: #353430;
  --hover-button-color: #32312D66;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  background-image: url(../images/cover-image-light.png);
}

.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --main-bg-color: #FFF1F7;
    --main-text-color: #353430;
    --nav-color: #353430;
    --main-heading-color: #353430;
    --section-heading-color: #353430;
    --header-logo-color: #ffc2e6;
    --footer-logo-color: #ffc2e6;
  }
  
  .page {
  background-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}